<mat-toolbar color="primary">My App</mat-toolbar>

<mat-card class="card">
    <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Tarea Nueva" name="nombreTarea" [(ngModel)]="nombreTarea">
        </mat-form-field>
    </form>
    
    <mat-icon color="primary" (click)="agregarTarea()">add_circle</mat-icon>
</mat-card>

<h1 class="mat-subheading-2 subtitulo">Tareas Pendientes</h1>

<mat-card  class="card" *ngFor="let tarea of tareas">
  <h1 class="mat-subheading-2">{{tarea?.descripcion}}</h1>
  <mat-checkbox (change)="terminaTarea(tarea)">
  </mat-checkbox>
</mat-card>